footer {
    text-align: center;
    padding: 5% 10%;
    background-color: rgb(189, 189, 189); 
    
}

.icons {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 3rem;
    margin: auto;
    max-width: 50px;
    justify-content: center;

}

